# Byte-compiled / optimized / DLL files
*.pyc
**/__pycache__/*

# Ignore all .DS_Store
.DS_Store

# Ignore all parquet files
*.parquet

# Ignore all files from mlruns/ - these will be synced to S3
./mlruns/*
