version: '3'

services:
  minio:
    image: minio/minio
    container_name: minio_storage
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ./mlruns/minio_data:/data
    env_file:
      - .env/project.env
    command: server --console-address ":9001" /data
